@import '../../assets/styles/variables.css';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

.login-right{

    background: linear-gradient(180deg, rgba(255, 252, 252, 0) 0%, rgba(4, 64, 75, 0.5)  0.01%), url(../../assets/images/loginpage/2eb14502a403f4c6ba74dee6b34358c509d5c812.jpg);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    
}
.heading{
    color: var(--heading-color);
}

button.signUpButton{
    border-color: white;
    background-color: transparent;
}
button.signUpButton:hover{
    background-color: var(  --button-input-hover-color);
}
button.signUpButton:focus{
    border-color: white !important;
    background-color: transparent!important;
}