@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Secular+One&family=Sigmar&family=Yeseva+One&display=swap');
@import '../../../assets/styles/variables.css';

.cta-container{
    height: 732px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cta-title{
    font-family: Lato;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: black;
}
.cta-description{
    font-family: Lato;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
}
.form-title{
    font-family: Lato;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
    
}
button.sendButton, button.sendButton:hover, button.sendButton:active{
    background-color: var(--button-input-color) !important;
}
.consultation-img{
    width: 630px;
    height: 398px;
    border-radius: 16px;
    background-image: linear-gradient(164.44deg, rgba(253, 253, 253, 0.11) 7.36%, rgba(47, 123, 136, 0.4) 74.27%), url('../../../assets/images/homepage/ctaSection/c42932d0aaf0265300c324a2e1aa478b17bbd1e1.jpg');
}